.yContainer {
	height:100%;
	display: grid;
	grid-template-rows: 32% 32% 32%;
	grid-gap: 2%;

}
 
.Years {
	display:grid;
	grid-template-columns: 4% 10%;

}

.Years>div {
	background: #ffffff;
	padding: 5px;
}