.Title {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
}

.rreview {
    display: grid;
    grid-template-rows: 8rem 6rem auto 2rem 3rem;
    grid-template-areas: "userProfile" "detail" "userReview" "comments" "reply";
    margin: auto;
    width: 70%;
    height: auto;
    background-color: #C1E8E0;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 5px 10px rgba(108, 122, 137, 1);
}

.ruserProfile {
    display: grid;
    height: 3rem;
    padding-top: 1rem;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "userPhoto" "name" "react"
}


.ruserPhoto >img {
    display: grid;
	height: 90px;
    width: 90px;
    align-content: center;
	border-radius:50%;
    margin-left: auto;
    margin-right: auto;
}

.rname {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas: "userName" "date";
    font-size: 20px;
}

.ruserName {
    font-size: 30px;
    vertical-align: 50%;
}

.rdate {
    font-size: 20px;
}

.rreact {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    /*grid-template-areas: "like" "dislike" "likeCounter" "dislikeCounter";*/
}

.rdetail {
    display:grid;
    grid-template-rows: 2rem 2rem 2rem;
    grid-template-areas: "userRating" "completionDate" "lecturer";
}

.ruserReview {
    height:auto;
    padding-bottom: 30px;
}
.rlike {
    display:block;
    margin: auto;
    color: green;
    border: #C1E8E0;
    background-color: #C1E8E0;
}

.rdislike {
    display:block;
    margin: auto;
    color: red;
    border: #C1E8E0;
    background-color: #C1E8E0;
}

.rlikeCounter {
    text-align: center;
}

.rdislikeCounter {
    text-align: center;
}

.review-form {
    background-color: aliceblue;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1rem 10rem auto 3rem;
    height:auto;
}

.review-form-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.review-form-fields {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    grid-template-rows: 50% 50%;
    grid-row-gap: 1rem;
    width: 70%;
    margin:auto;
}

.review-form-name {
    grid-column: 1/2;
    grid-row: 1/2;
}

.review-form-rating {
    grid-column: 1/2;
    grid-row: 2/2;
}

.review-form-date {
    grid-column: 2/2;
    grid-row: 1/2;
}

.review-form-lecturer {
    grid-column: 2/2;
    grid-row: 2/2;
}

.review-form-review {
    resize: both;
    margin-left: 7.5rem;
    width: 72%;
    height:auto;
}

.review-form-actions {
    margin-top: 1rem;
    margin-left: 37%;
}

.review-form-submit {
    width:40%;
    height: 2.5rem;
}