.Course {
     display:grid;
     grid-template-columns: 70% 30%;
     font-family: Arial, Helvetica, sans-serif;
     padding-left: 5%;
     grid-template-areas: 
     "text"
     "buttons";
     font-weight: bold;
     height: auto;
}

.text {
     margin-top: 20px;
     display: grid;
     grid-template-rows: 3rem 2rem 2rem 2rem;
     grid-gap:0.5rem;
     height:auto;
     grid-template-areas: "courseName" "code" "rating" "numOfReviews";
}

.courseName {
     font-size: 35px;
     font-weight: bold;
     height: auto;
}
.code {
     font-size: 20px;
     font-weight: bold;
}
.numOfReviews {
     font-size: 15px;
}

.rating {
     display:block;
     height: 50%;
     margin-block-start: 2%;
     color: gold;
}

.buttons {
     display: grid;
     grid-template-rows: 50% 50%;
     grid-template-areas: "addTimetable" "createReview"
}

.addTimetable{
     display:flex;
     margin-right: auto;
     margin-top: 20px;
     height: 70%;
     vertical-align: top;
     width: 100%;
     
}

.createReview {
     display:flex;
     margin: auto;
     margin-top: 10px;
     height: 70%;
}

.addReview {
     display: flexbox;
     width: 60%;
     justify-content: center;
}

.addTimetableButton {
     display: flexbox;
     width: 36%;
     justify-content: center;
}