.editProfile{
    display:flex;
    border-radius: 5px;
    padding:0.5rem;
    align-content: center;
    justify-self: center;
}


.NAME {
    display:flex;  
    justify-content: center; 
    padding:1rem;
    font-size: 20;
}


.NamePic {
    height: auto;
    display: grid;
    grid-area: personal-pic;
    grid-template-rows: 80% 20%;
    grid-template-areas: "npPic" "npName";

}

.profilePic >img {
    grid-area:npPic;
    display: block;
    margin: auto;
    object-fit: cover;
    width:50%;
    padding:0rem;
    border-radius:50%;
    padding-top:1.5rem;
}



.profileName {
    height:auto;
    grid-area: npName;
    text-align: center;
    font-size: 30px;
    display:grid;
    grid-template-columns: 80% 20%;

}