.Dashboard {
	display:grid;
	grid-template-rows: 7rem auto 7rem;
	grid-template-areas:
	"header"
	"body"
	"footer"
}

.dHeader {
	grid-area: header;
	background-color:#C1E8E0;
}


.dBody {
	grid-area:body;
	padding: 2rem;
	padding-left:5%;
	padding-right:5%;
	background-color:white;
	display:grid;
	grid-template-rows: 2rem 10rem auto 2rem;
	grid-template-columns: 30% 70%;

	grid-template-areas:
	". tags"
	"units search"
	"tree table"
	". years";
	grid-gap: 1rem;
}

.tags {
	grid-area:tags;
	background-color:#ffffff;
}

.units {
	grid-area:units;
	/*background-color:#fffccc;*/
}


.search {
	grid-area:search;
	/*background-color:#fffbbb;*/
	display:grid;
	grid-template-rows: 30% auto;
	grid-template-areas:
	"searchbox"
	"dropbox"
	;

}

.tree {
	grid-area:tree;
	/*background-color:#fffaaa;*/
}

.table {
	grid-area:table;
	/*background-color:#fff999;*/
}

.years {
	grid-area:years;
	background-color:#ffffff;
}


.dFooter {
	grid-area:footer;
	background-color:#C1E8E0;
}
