.StudyBuddy-box {
    background-color: #d3d3d3;
    text-decoration: lightpink;
    color:#303030;
    padding-top: 6px;
    padding-left: 10px;
    height: 100%;
    box-shadow: 10px 8px 5px grey;
    text-indent: 20px;
    text-align: start;
}

.StudyBuddy-comment {
    color: black;
    text-indent: 30px;
}

.StudyBuddy-reply {
    color: black;
    text-indent: 60px;
}