
.StudyBuddy-Frame {
    display:grid;
    /* grid-area: studyBuddy-Frame; */
    padding-bottom: 5%;
    padding-top: 2%;
    padding-right: 4%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "StudyBuddy-Heading"
    "StudyBuddy-Box"
}

.StudyBuddy-Heading {
    grid-area: StudyBuddy-Heading;
    padding-left: 1rem;
    padding-top: 1rem;
    text-indent: 1rem;
    color: black;
    font-weight: bold;
    display:flex;
    font-size: 28px;
}

.StudyBuddy-Box {
    display: grid;
    grid-area: StudyBuddy-Box;
    background-color: #d3d3d3;
    color:#303030;
    width: 100%;
    padding: 1rem;

    box-shadow: 8px 4px 10px grey;
    /* text-indent: 20px; */
    text-align: start;

    grid-gap: 1rem;
    grid-template-rows: 8% 74% 10%;
    /* grid-template-columns: 95% 5%; */
    grid-template-areas: 
    "StudyBuddyBox-Heading"
    "StudyBuddyBox-CommentBox"
    "StudyBuddyBox-NewCommentBox";
}
.StudyBuddyBox-Heading {

    display: flex;
    grid-area: StudyBuddyBox-Heading;
    font-weight: bold;
    color: #202020;
    column-width: 100%;
    font-size: 22px;
    text-indent: 15px;

}

.StudyBuddyBox-CommentBox {
    display:grid;
    grid-area: StudyBuddyBox-CommentBox;
    grid-template-columns: 88% 5% 5%;
    grid-template-rows: auto;
    /* width: 100%; */
    grid-template-areas:
    "StudyBuddyBox-Comment StudyBuddyBox-Like StudyBuddyBox-Reply";
}

.StudyBuddyBox-Comment {
    display:grid;
    grid-area: StudyBuddyBox-Comment;
    background:#d3d3d3;
    grid-template-rows: 2rem 5rem;
    grid-template-areas: 
    "StudyBuddyBox-CommentMessage"
    "StudyBuddyBox-CommentReply";
}

.StudyBuddyBox-CommentMessage {
    display: flex;
    grid-area: studyBuddyBox-CommentMessage;
    /* width: 100%; */
    color: black;
} 

.StudyBuddyBox-CommentReply {
    display: flex;
    padding-top: 5px;
    padding-left: 2rem;
    grid-area: studyBuddyBox-CommentReply;
    /* width: 100%; */
    color: #303030;
} 


.StudyBuddyBox-Like {
    display: flex;
    grid-area: StudyBuddyBox-Like;
    /* justify-content: right; */
}

.StudyBuddyBox-Reply {
    display: flex;
    grid-area: StudyBuddyBox-Reply;
    /* justify-content: right; */
}

.StudybuddyBox-NewCommentBox {
    grid-area: StudyBuddyBox-NewCommentBox;
    display:flex;
    color: #909090;
    background-color: white;
    justify-content: left;
    align-items: center;
    text-indent: 5px;
}

/* .StudyBuddyBox-CommentReply {
    color: black;
    text-indent: 30px;
} */

