/* 
    Body, button, comment-thread, and utilities

    Notes:
        - This section sets some basic styles. You can ignore this part and 
        go directly to the comment styles.
*/


* {
    box-sizing: border-box;
}
body {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f9f9f9;
    
}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}

.StudyBuddy-Frame {
    display:flex;
    padding-bottom: 5%;
    padding-top: 2%;
    padding-right: 4%;
}

.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
}

.comment-thread {
    min-width: 100%;
    margin: auto;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
}

.box {
    padding: 1rem;
    background-color: #DCDCDC;
    /* border-width: 3rem;
    border-color: black; */
    border: 12px solid #383838;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    font-size: 30px;
    font-family: bold;
    justify-content: center;
}

.newComment {
    line-height: 1cm;
}

.box-newComment {
    display: flex;
    background-color: white;
    font-size: 18px;
    width: 100%;
    height: 2rem;
    outline: none;
    border-color: #C0C0C0;
    padding-left: 10px;
    
}

.space {
    display: block;
    margin-bottom: 10px;
}

.m-0 {
    margin: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comments {
    margin-left: 10px;
}

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */
.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}
.replies {
    margin-left: 28px;
}

/* Make Adjustments for the toggleable content */
details.comment summary {
    position: relative;
    list-style: none;
    cursor:pointer;
}

details.comment summary::-webkit-details-marker{
    display: none;
}

details.comment:not([open]) .comment-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comment-heading::after {
    display: inline-block;
    position: absolute;
    right: 5px;
    align-self: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}

details.comment[open] .comment-heading::after {
    content: "Click to hide";
}

details.comment:not([open]) .comment-heading::after {
    content: "Click to show";
}

/* Styling the reply to comment form */
.reply-form textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top:  15px;
    margin-bottom: 5px;
}

.d-none {
    display: none;
}

