.LoginPage{
    background-color: cadetblue;
    height: 100vh;
    display:grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "." "LoginPrompt" ".";
}

.LoginPrompt {
    grid-area: LoginPrompt;
    width: 30%;
    background-color:white;
    margin: auto;
    height: auto;
    vertical-align: center;
}