

.Table {
	width:100%;
	display:grid;

	grid-template-rows: 2rem repeat(4, 8rem);

}

.Table > li:nth-child(odd) {
	background: #c1c1c1;
}


.rows {
	width: 100%;
	display:grid;
	grid-template-columns: repeat(4,25%);
	align-content: center;
}

.title {
	display:flex;
	justify-content: center;
}



.rows > div {
	padding-left: 5px;
}

.squares {
	display:flex;
	flex-direction: column;
	padding:1rem;
	grid-gap:1rem;

}

.items {
	display:flex;
	text-align: center;
	justify-content: center;
}

.items:hover {
	background: #888888;

}

/*
.rows > div:nth-child(odd) {
	background: #EBECF0;
}
*/