* {
    box-sizing: border-box;
}

.Home {
    display:flex;
}

.hHeader {
    display: flex;
    background-color:#C1E8E0;
    position: fixed;
    display:flex;
    width: 100%;
    height: 7rem;

}

.logo {
    display:flex;
    justify-self:start;
    background-color: #C1E8E0;

}

.logo > img {
    object-fit: contain;
    width:100%;
    max-height: 100%;
    background: #C1E8E0;
    /* padding:0.3rem; */
}

.login {
    display:flex;
    align-items: center;
    justify-self: center;
}


.hBody {
    display:flex;
    max-height: 43rem;
    background-color: white;
}

.hBook {
    display:flex;
    justify-items: center;
    height: 50rem;
    align-items: center;
    width: 65rem;
}

.hBook > img {
	object-fit: contain;
}

.hWelcome {
    display:flex; 
    width: 600;
    flex-direction: row;
}

.semicircle {
    display:flex;
    background-color: lightblue;
    height: 50rem;
    width: 25rem; 
    border-radius: 25rem 0px 0px 25rem; 
    
}

.writing {
    display: flex;
    width: 90%;
    position: absolute;
    padding-left: 50rem;
    font-size: 55px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Footer {
    height: 7rem;
    width: 100%;
    background-color:#C1E8E0;
    position: fixed;
    overflow:hidden;
}
