.Nav {
	display:grid;
	grid-template-columns: 15rem 1fr;
	grid-template-rows: 7rem;
	grid-template-areas: "logo menu";
	background-color: #C1E8E0;
	width:100%;

}
.sticky {
	position:fixed;
	top:0;
	width:100%;
}

.logo {
	grid-area: logo;
	justify-self:start;
	background-color: #C1E8E0;

}

.logo > img {
	object-fit: contain;
	width:100%;
	max-height: 100%;
	background: #C1E8E0;
	padding:0.3rem;

}


.menu {
	grid-area: menu;
	display: grid;
	grid-template-columns: 70% 15% 15%;
	grid-template-rows: 100%;
	grid-template-areas: "buttons logout profile";
	list-style-type: none;
	align-items: center;

}

.buttonsContainer {
	grid-area:buttons;
	display: flex;
	justify-content: start;
	grid-gap:1rem;
}

.studySpace > Button {
	width:100px;
	height:50px;
	border:none;
	border-radius: 12px;

}



.logout {
	grid-area: logout;

}
.logout > Button {
	width:100px;
	height:50px;
	border: none;
	border-radius: 12px;
}

.profile {
	grid-area: profile;

}

.profile > img {
	object-fit: cover;
	width:50%;
	max-height: 50%;
	padding:1rem;
	border-radius:50%;
	padding-top:1.5rem;


}

