.Nav {
	display:grid;
	grid-template-columns: 15rem 1fr;
	grid-template-areas: "logo menu";

}

.logo {
	grid-area: logo;
	justify-self:start;
	background-color: white;

}

.logo > img {
	object-fit: contain;
	width:100%;
	max-height: 100%;
	background: #C1E8E0;
}


.menu {
	grid-area: menu;
	display: grid;
	grid-template-columns: 80% 10% 10%;
	grid-template-areas: "study logout profile";
	list-style-type: none;


}

.studySpace {
	grid-area: study;
	background-color: #FFFFEF;
	justify-content: center;
}



.logout {
	grid-area: logout;
	background-color: grey;
}

.profile {
	grid-area: profile;

}
